@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif ;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

section{
    background-color: black;
}

.container{
    padding: 96px 0;
}

.row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto
}

.gold{
  color: #F4BA1D;
}

.charcoal{
  color: #2B2B2B
}

.black{
  color: #000
}

.white{
  color: #fff;
}

h1{
  font-size: 64px;  
  font-weight: 900;
}

h2{
  font-size: 42px;
  font-weight: 600;
}

h3{
  font-size: 28px;
  font-weight:500;
}

.regular{
  font-size: 18px;
  font-weight: 500;
}

img{
  width: 100%;
  height: 100%;
}

/* NAV */
.nav__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px ;
  background-color: rgba(0, 0, 0, 0.336);
  backdrop-filter: blur(5px);
  border-radius: 20px;
}

.logo__container{
  display: flex;
  align-items: center;
  padding: 8px 0;

}

.nav__logo{
  width: 50px;
  height: 50px;
  margin: 0 16px;
  border-radius: 50%;
  overflow: hidden;
}

.nav__list{
  display: flex;
  align-items: center; 
}

.nav__link{
  font-size: 28px ;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-radius: 50%;
  align-items: center;
  margin: 0 24px;
  transition: all ease 300ms;

  
}

.nav__link.insta:hover{
  background: linear-gradient(45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #fcdf8f);
}

/* Landing */

#landing{
  width: 100vw;
  height: 100vh;
  background-image: url('/public/landing.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
}

/* ABOUT */

/* SERVICES */
.features__description--heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px auto;
}

.features__descriptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 40px auto;
  width: 100%;
  max-width: 1024px;
}

.features__description {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  width: calc(100% / 3);
  padding: 32px 20px;
}

.features__description--icon {
  padding: 20px;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.features__description--text {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.features__description--para {
  margin-top: 16px;
}

/* HOW IT WORKS */

/* WHY CHOOSE US */

/* GET A QUOTE */

/* GET A QUOTE MODAL */

/* FOOTER */

#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer__contact{
    color: white;
    font-size: 18px;
}

.footer__logo {
  height: 100px;
  width: 100px;
}
