@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

section {
  background-color: black;
}

.container {
  padding: 96px 0;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto
}

.gold {
  color: #F4BA1D;
}

.charcoal {
  color: #2B2B2B
}

.light-grey {
  color: #AEAEAE;
}

.black {
  color: #000
}

.white {
  color: #fff;
}

h1 {
  font-size: 64px;
  font-weight: 900;
}

h2 {
  font-size: 42px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  font-weight: 500;
}

.regular {
  font-size: 18px;
  font-weight: 500;
}

img {
  width: 100%;
  height: 100%;
}

/* BUTTONS */

button {
  height: 50px;
  width: 200px;
  margin: 20px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.fill {
  --button-color: linear-gradient(82.3deg,
      #F4BA1D 5%,
      #000 94.3%);
  background-color: #F4BA1D;
  border: 2px solid #F4BA1D;
}

.outline {
--button-color: linear-gradient(82.3deg,
      #000 10.8%,
      #F4BA1D 94.3%);
  border: 2px solid #F4BA1D;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transform: scaleX(0);
  transform-origin: left;
  background: var(--button-color);
  transition: transform 0.475s ease-in-out;
  z-index: 0;
}

button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
  /* keeps text above pseudo-element */
}


/* NAV */
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  background-color: rgba(0, 0, 0, 0.336);
  backdrop-filter: blur(5px);
  border-radius: 20px;
}

.logo__container {
  display: flex;
  align-items: center;
  padding: 8px 0;

}

.nav__text {
  font-size: 20px;
}

.nav__logo {
  width: 100px;
  height: 100px;
  margin: 0 16px;
  border-radius: 50%;
  overflow: hidden;
}

.link__hover--effect {
  position: relative;
}

.link__hover--effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  background-color: #F4BA1D;
  transition: all 300ms ease;
}

.link__hover--effect:hover:after {
  left: 0;
  width: 100%;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__link {
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 28px;
  border-radius: 50%;
  background: #000;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 24px;
  overflow: hidden;
  transition: transform 0.1s;
}

.nav__link svg {
  color: white;
  width: 28px;
  height: 28px;
  z-index: 2;
}

.nav__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background: var(--brand-color);
  border-radius: 50%;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.4s ease, height 0.4s ease;
}

.nav__link:hover::before {
  width: 120%;
  height: 120%;
}

.nav__link.insta {
  --brand-color: linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045);
}

.nav__link.tiktok {
  --brand-color: linear-gradient(to right, #00F2EA, #FF0050);
}

.nav__link.snap {
  --brand-color: rgb(255, 252, 0);
}

.nav__link.snap svg {
  color: white;
  /* default on black */
  transition: color 0.3s ease;
}

.nav__link.snap:hover svg {
  color: black;
  /* visible on yellow */
}

.nav__link.facebook {
  --brand-color: rgb(24, 119, 242);
}

/* Landing */

#landing {
  width: 100vw;
  height: 100vh;
  background-image: url('/landing.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: crisp-edges;
  image-rendering: auto;
}

.landing__container {
  margin: 30px 0px 0px 250px;
  padding: 20px;
  background-color: #0000008c;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 30%;
  height: 600px;
  border-radius: 20px
}

/* ABOUT */

/* SERVICES */
.features__description--heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px auto;
}

.features__descriptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 40px auto;
  width: 100%;
  max-width: 1024px;
}

.features__description {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  width: calc(100% / 3);
  padding: 32px 20px;
}

.features__description--icon {
  padding: 20px;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.features__description--text {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.features__description--para {
  margin-top: 16px;
}

/* HOW IT WORKS */

/* WHY CHOOSE US */

/* GET A QUOTE */

/* GET A QUOTE MODAL */

/* FOOTER */

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer__contact {
  color: white;
  font-size: 18px;
}

.footer__logo {
  height: 100px;
  width: 100px;
}